# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/captures/
**/android/.idea/
**/android/app/google-services.json

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Env
.env
.env.*

# Logs
*.log

# Temp artifacts
*.zip
photo-cleaner/
.devcontainer/
